
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

if@(ViewBag.FormSubmit != null && ViewBag.FormSubmit == true)
{
<script type="text/javascript>
    function formSubmission() { alert("True")}
        $(function(){

           formSubmission();
        });
</script>
}
 