
@{
    ViewBag.Title = "Index";
}
 
<h2>Index</h2>
<script src="~/Content/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
<div style="width:200px;height:100px;float:left">
    <label>i am label :</label>
</div>
<div style="width:200px;height:100px;float:left">
    <button>a</button>
    <button>b</button>
    <button>c</button>
</div>
<script>
    $(function () {
        $("button").click(function () {           
            $("label").append($(this).text());
        })

    })
   
</script>
