
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

 @section csss{
     <style>
     textarea {
      color:bisque;
     }
     </style>
     }

       <textarea cols="4" rows="4">


       </textarea>
@Html.ActionLink("ta", "Browse", new { genre = "abc" }) 