
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<html>
<head>
    <style>
        * {padding:0px;
           margin:0px;
        }
        dl {
            width:200px;
        }
        dt {
           width:80px;
           float:left;
           text-align:right;
        }
        dd {
            width:120px;
         float:left;
         text-align:left;
        }
    </style>
</head>
<body>
    <div>
        <dl>
            <dt>Name:</dt><dd><input type="text" value="Name"/></dd>
            <dt>Password:</dt><dd><input type="text" value="Password"/></dd>
            <dt><input type="checkbox" /></dt><dd>remember me</dd>
        </dl>
    </div>
</body>
</html>
 

