
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<html>
<head></head>
<body>

    <h2>Index</h2>

    <table style="table-layout:fixed;width:100%">
        <tr>
            

            <td style="max-width:40rem;overflow:hidden;border:1px solid red;text-overflow:ellipsis;white-space:nowrap">
                Hello, how are you? Hello, how are you? Hello, how are

                you? Hello, how are you? Hello, how are you? Hello, how are you? Hello, how are you? Hello, how are you? Hello, how are you? Hello, how are you? Hello, how are you? Hello, how

                are you? Hello, how are you?
            </td>
        </tr>
    </table>


</body>
</html>
