
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>
<script>
   
    function test() {
        var b = 3;
       
       
    }
</script>
@{ int a = 1;}
@Html.ActionLink("Download ", "DownloadAll2", new { themeId =@a ,y=1
  }, new { @class = "btn btn-mini btn-success" }); 

@*<a src="dd?i="+test()/>

<div onclick="alert(test())" id=test()>aaaa</div>*@
